# libsdl2-gui .gitignore file

# Ignore CMake build directory

build/
CMakeFiles

# Ignore .vscode folder

.vscode/

# Ignore Build Files

*.so
Makefile
CMakeCache.txt
cmake_install.cmake

# Ignore CPM files

cmake/CPM_*.cmake
_deps/
CPM_modules/
